# Dependencies
/node_modules

# Build output
/dist
/build

# TypeScript
*.tsbuildinfo

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
